@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
:root {
  --font-size: 1rem;
  --font-size-small: 0.75rem;
  --font-size-header: 1.75rem;
  --font-line-height: 1.4;
  --font-weight: 400;
  --font-weight-bold: 700;
  --icon-size: 1.5rem;
  --spacing: 1rem;
  --header-height: 4rem;

  --text-color: #fff;
  --text-color-dilute: #72729b;
  --background-app: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}
