@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
:root {
  --font-size: 1rem;
  --font-size-small: 0.85rem;
  --font-size-header: 1.75rem;
  --font-line-height: 1.4;
  --font-weight: 400;
  --font-weight-bold: 700;
  --icon-size: 1.5rem;
  --spacing: 1rem;
  --spacing-double: calc(var(--spacing) * 2);
  --header-height: 4rem;
  --border-radius: 0.5rem;
  --border-radius-button: 0.75rem;

  --button-background-color: hsl(268, 51%, 40%);

  --button-background: linear-gradient(to bottom, hsl(from var(--button-background-color) h s calc(l + 2)) 10%, hsl(from var(--button-background-color) h s calc(l - 2)) 100%);
  --button-border: 1px solid hsl(from var(--button-background-color) h s calc(l - 15));
  --button-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15), inset 0 1px 1px hsl(from var(--button-background-color) h s calc(l + 5));

  --text-color: #fff;
  --text-color-dilute: #72729b;
  --background-app: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}
