twui-text {
  display: block;
  font-size: var(--font-size-small);
  &[format='header'] {
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
  }
  &[format='subheading'] {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
  }
  &[format='secondary'] {
    font-size: var(--font-size-small);
    color: var(--text-color-dilute);
  }
  &[align='center'] {
    text-align: center;
  }
  &[align='right'] {
    text-align: right;
  }
}
