twui-text {
  &[format='header'] {
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
  }
  &[format='hint'] {
    font-size: var(--font-size-small);
    color: var(--text-color-dilute);
  }
}
