twui-button {
  display: flex;
  flex-direction: row;

  button {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-half);
    border: var(--button-border);
    padding: var(--spacing) var(--spacing-double);
    border-radius: var(--border-radius-button);
    font: inherit;
    background: var(--button-background);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    box-shadow: var(--button-shadow);

    &[color='secondary'] {
    }

    &[color='link'] {
    }
  }
}
