<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="TaleWeaver UI" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no" />
    <title>TaleWeaver UI</title>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/build/twui.css" />

    <script type="module" src="/build/twui.esm.js"></script>
    <script nomodule src="/build/twui.js"></script>
  </head>
  <body>
    <twui-app>
      <twui-customstory />
    </twui-app>
  </body>
</html>
