twui-app {
  font-family: 'Merriweather', serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-style: normal;
  line-height: var(--font-line-height);
  color: var(--text-color);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
  max-inline-size: 100dvw;
  background: var(--background-app);

  -webkit-tap-highlight-color: transparent;

  interpolate-size: allow-keywords;
  overscroll-behavior: none;
  scrollbar-width: thin;
  touch-action: manipulation;
  view-transition-name: none;

  .page {
    display: flex;
    flex-direction: column;
  }

  iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
  }
}
